
.vs/V3UnityFontReader/v17/.suo
V3UnityFontReader/bin/Release/net5.0-windows/ref/V3UnityFontReader.dll
V3UnityFontReader/bin/Release/net5.0-windows/V3UnityFontReader.deps.json
V3UnityFontReader/bin/Release/net5.0-windows/V3UnityFontReader.dll
V3UnityFontReader/bin/Release/net5.0-windows/V3UnityFontReader.exe
*.pdb
V3UnityFontReader/bin/Release/net5.0-windows/V3UnityFontReader.runtimeconfig.dev.json
V3UnityFontReader/bin/Release/net5.0-windows/V3UnityFontReader.runtimeconfig.json
V3UnityFontReader/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
V3UnityFontReader/obj/Debug/net5.0-windows/V3UnityFontReader.AssemblyInfo.cs
V3UnityFontReader/obj/Debug/net5.0-windows/V3UnityFontReader.AssemblyInfoInputs.cache
V3UnityFontReader/obj/Debug/net5.0-windows/V3UnityFontReader.csproj.AssemblyReference.cache
V3UnityFontReader/obj/Debug/net5.0-windows/V3UnityFontReader.GeneratedMSBuildEditorConfig.editorconfig
V3UnityFontReader/obj/project.assets.json
V3UnityFontReader/obj/project.nuget.cache
V3UnityFontReader/obj/Release/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
V3UnityFontReader/obj/Release/net5.0-windows/apphost.exe
V3UnityFontReader/obj/Release/net5.0-windows/ref/V3UnityFontReader.dll
V3UnityFontReader/obj/Release/net5.0-windows/V3UnityFontReader.AssemblyInfo.cs
*.cache
V3UnityFontReader/obj/Release/net5.0-windows/V3UnityFontReader.csproj.FileListAbsolute.txt
V3UnityFontReader/obj/Release/net5.0-windows/V3UnityFontReader.dll
V3UnityFontReader/obj/Release/net5.0-windows/V3UnityFontReader.GeneratedMSBuildEditorConfig.editorconfig
V3UnityFontReader/obj/Release/net5.0-windows/V3UnityFontReader.SpecialCharacter.resources
V3UnityFontReader/obj/V3UnityFontReader.csproj.nuget.dgspec.json
V3UnityFontReader/obj/V3UnityFontReader.csproj.nuget.g.props
V3UnityFontReader/obj/V3UnityFontReader.csproj.nuget.g.targets
*.txt
*.png
V3UnityFontReader/bin/Debug/net5.0-windows/ref/V3UnityFontReader.dll
V3UnityFontReader/bin/Debug/net5.0-windows/V3UnityFontReader.deps.json
V3UnityFontReader/bin/Debug/net5.0-windows/V3UnityFontReader.dll
V3UnityFontReader/bin/Debug/net5.0-windows/V3UnityFontReader.exe
V3UnityFontReader/bin/Debug/net5.0-windows/V3UnityFontReader.runtimeconfig.dev.json
V3UnityFontReader/bin/Debug/net5.0-windows/V3UnityFontReader.runtimeconfig.json
V3UnityFontReader/obj/Debug/net5.0-windows/apphost.exe
V3UnityFontReader/obj/Debug/net5.0-windows/ref/V3UnityFontReader.dll
V3UnityFontReader/obj/Debug/net5.0-windows/V3UnityFontReader.dll
V3UnityFontReader/obj/Debug/net5.0-windows/V3UnityFontReader.MyComparer.resources
V3UnityFontReader/obj/Release/net5.0-windows/V3UnityFontReader.MyComparer.resources
.vs/V3UnityFontReader/DesignTimeBuild/.dtbcache.v2
.vs/V3UnityFontReader/project-colors.json
.vs/V3UnityFontReader/v17/.futdcache.v1
V3UnityFontReader/obj/Debug/net5.0-windows/V3UnityFontReader.designer.deps.json
V3UnityFontReader/obj/Debug/net5.0-windows/V3UnityFontReader.designer.runtimeconfig.json
V3UnityFontReader/obj/Debug/net5.0-windows/V3UnityFontReader.Form1.resources
V3UnityFontReader/obj/Release/net5.0-windows/V3UnityFontReader.designer.deps.json
V3UnityFontReader/obj/Release/net5.0-windows/V3UnityFontReader.designer.runtimeconfig.json
V3UnityFontReader/obj/Release/net5.0-windows/V3UnityFontReader.Form1.resources
V3UnityFontReader/bin/Release/net5.0-windows10.0.17763.0/Microsoft.Windows.SDK.NET.dll
V3UnityFontReader/bin/Release/net5.0-windows10.0.17763.0/ref/V3UnityFontReader.dll
V3UnityFontReader/bin/Release/net5.0-windows10.0.17763.0/V3UnityFontReader.deps.json
V3UnityFontReader/bin/Release/net5.0-windows10.0.17763.0/V3UnityFontReader.dll
V3UnityFontReader/bin/Release/net5.0-windows10.0.17763.0/V3UnityFontReader.exe
V3UnityFontReader/bin/Release/net5.0-windows10.0.17763.0/V3UnityFontReader.runtimeconfig.dev.json
V3UnityFontReader/bin/Release/net5.0-windows10.0.17763.0/V3UnityFontReader.runtimeconfig.json
V3UnityFontReader/bin/Release/net5.0-windows10.0.17763.0/WinRT.Runtime.dll
V3UnityFontReader/bin/Release/net5.0-windows7.0/ref/V3UnityFontReader.dll
V3UnityFontReader/bin/Release/net5.0-windows7.0/V3UnityFontReader.deps.json
V3UnityFontReader/bin/Release/net5.0-windows7.0/V3UnityFontReader.dll
V3UnityFontReader/bin/Release/net5.0-windows7.0/V3UnityFontReader.exe
V3UnityFontReader/bin/Release/net5.0-windows7.0/V3UnityFontReader.runtimeconfig.dev.json
V3UnityFontReader/bin/Release/net5.0-windows7.0/V3UnityFontReader.runtimeconfig.json
V3UnityFontReader/bin/Release/net5.0-windows8.0/ref/V3UnityFontReader.dll
V3UnityFontReader/bin/Release/net5.0-windows8.0/V3UnityFontReader.deps.json
V3UnityFontReader/bin/Release/net5.0-windows8.0/V3UnityFontReader.dll
V3UnityFontReader/bin/Release/net5.0-windows8.0/V3UnityFontReader.exe
V3UnityFontReader/bin/Release/net5.0-windows8.0/V3UnityFontReader.runtimeconfig.dev.json
V3UnityFontReader/bin/Release/net5.0-windows8.0/V3UnityFontReader.runtimeconfig.json
V3UnityFontReader/obj/Release/net5.0-windows10.0.17763.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
V3UnityFontReader/obj/Release/net5.0-windows10.0.17763.0/apphost.exe
V3UnityFontReader/obj/Release/net5.0-windows10.0.17763.0/ref/V3UnityFontReader.dll
V3UnityFontReader/obj/Release/net5.0-windows10.0.17763.0/V3UnityFontReader.AssemblyInfo.cs
V3UnityFontReader/obj/Release/net5.0-windows10.0.17763.0/V3UnityFontReader.csproj.CopyComplete
V3UnityFontReader/obj/Release/net5.0-windows10.0.17763.0/V3UnityFontReader.dll
V3UnityFontReader/obj/Release/net5.0-windows10.0.17763.0/V3UnityFontReader.Form1.resources
V3UnityFontReader/obj/Release/net5.0-windows10.0.17763.0/V3UnityFontReader.GeneratedMSBuildEditorConfig.editorconfig
V3UnityFontReader/obj/Release/net5.0-windows7.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
V3UnityFontReader/obj/Release/net5.0-windows7.0/apphost.exe
V3UnityFontReader/obj/Release/net5.0-windows7.0/ref/V3UnityFontReader.dll
V3UnityFontReader/obj/Release/net5.0-windows7.0/V3UnityFontReader.AssemblyInfo.cs
V3UnityFontReader/obj/Release/net5.0-windows7.0/V3UnityFontReader.dll
V3UnityFontReader/obj/Release/net5.0-windows7.0/V3UnityFontReader.Form1.resources
V3UnityFontReader/obj/Release/net5.0-windows7.0/V3UnityFontReader.GeneratedMSBuildEditorConfig.editorconfig
V3UnityFontReader/obj/Release/net5.0-windows8.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
V3UnityFontReader/obj/Release/net5.0-windows8.0/apphost.exe
V3UnityFontReader/obj/Release/net5.0-windows8.0/ref/V3UnityFontReader.dll
V3UnityFontReader/obj/Release/net5.0-windows8.0/V3UnityFontReader.AssemblyInfo.cs
V3UnityFontReader/obj/Release/net5.0-windows8.0/V3UnityFontReader.dll
V3UnityFontReader/obj/Release/net5.0-windows8.0/V3UnityFontReader.Form1.resources
V3UnityFontReader/obj/Release/net5.0-windows8.0/V3UnityFontReader.GeneratedMSBuildEditorConfig.editorconfig
