
.vs/V3UnityFontReader/v17/.suo
*.pdb
*.cache
*.txt
*.png
.vs/V3UnityFontReader/DesignTimeBuild/.dtbcache.v2
.vs/V3UnityFontReader/project-colors.json
.vs/V3UnityFontReader/v17/.futdcache.v1
V3UnityFontReader/bin/*
.vs/V3UnityFontReader/v17/.futdcache.v1
.vs/V3UnityFontReader/project-colors.json
.vs/V3UnityFontReader/DesignTimeBuild/.dtbcache.v2
*.1
*.vsidx
*.v2
*.lock
*.bak
*.editorconfig
V3UnityFontReader/obj/*
*.BuildWithSkipAnalyzers